.example-card {
  text-align: center;
  max-width: 200px;
  width: 100%;
  margin: 20px;
  padding: 10px;
}

.buttons {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.description {
  overflow: hidden;
}

.title {
  overflow: hidden;
}