<div class="signup">
    <h1>Signup</h1>
    <form [formGroup]="addForm" (ngSubmit)="add()">
        <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input type="text" matInput placeholder="Name" formControlName="name">
        </mat-form-field><br>
        <mat-form-field class="example-full-width">
            <mat-label>User Name</mat-label>
            <input type="text" matInput placeholder="User Name" formControlName="username">
        </mat-form-field><br>
        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field><br>
        <button type="submit" mat-raised-button color="warn">Submit</button><br><br>
    </form>
    <p>Already have an account. <a routerLink="/login">Login</a></p>
</div>