.signup {
  width: 100%;
  max-width: 300px;
  box-shadow: 0 0 8px grey;
  text-align: center;
  padding: 30px;
  margin: auto;
  border-radius: 10px;
  top: 50px;
  position: relative;
}

a {
  text-decoration: none;
  color: #f44336;
}